<% include partials/header %>


<div class="ui statistics">
  <div class="statistic">
    <div class="value">
      <i class="film icon"></i> 672
    </div>
    <div class="label">
      Films
    </div>
  </div>
  <div class="statistic">
    <div class="value">
      <img src="/images/avatar/small/joe.jpg" class="ui circular inline image">
      42,876
    </div>
    <div class="label">
      hours
    </div>
  </div>
</div>



<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);
            google.charts.setOnLoadCallback(drawChart2);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Language', 'Speakers (in millions)'],
          ['R',  <%=ReturnObj.Ratings["R"]%>],
          ['PG-13',  <%=ReturnObj.Ratings["PG-13"]%>],
          ['PG', <%=ReturnObj.Ratings["PG"]%>],
          ['G', <%=ReturnObj.Ratings["G"]%>]
        ]);

      var options = {
        legend: 'none',
        pieSliceText: 'label',
        title: 'Ratings',
        pieStartAngle: 100,
        backgroundColor: {fill:'transparent'}
      };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));
        chart.draw(data, options);
      }
      
     var array2 = <%-Scores%>
     
     function drawChart2() {
        var data = google.visualization.arrayToDataTable(array2);

        var options = {
          title: 'Histogram of your ratings',
          legend: { position: 'none' },
                    histogram: {
      bucketSize: 1,
      maxNumBuckets: 10,
      minValue: 1,
      maxValue: 10
    }
        };

        var chart = new google.visualization.Histogram(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
     
     
     
     
     
     
      
    </script>

<div class="ui page grid">
<div class="row">
  <div class="ui raised very padded text container segment">
      <h1>Ratings</h1>
   <div id="piechart" style="width: 50%;"></div>
  </div>  
  
  <div class="col-lg-4 well">
      <h1>Genres</h1>
      <h5>You've seen..</h5>
      <h3>675 hrs of film</h3>
      
<% ReturnObj.Genre.TopRunTime.forEach(function(element){ %>


<div class="progress" style="margin: 3px;">
    <div class="progress-bar progress-bar-success" role="progressbar" style="width: <%=element["Runtime Percent"] %>%;">
        <%= element.Genres %>
    </div>
    <div class="progress-bar" role="progressbar" style="text-align: left; padding-left: 10px; width: <% 100-element["Runtime Percent"]%>%; margin: 0; color: black; background-color:rgba(0,0,0,0);">
         <%= element["Runtime Percent"]%> %
    </div>

</div>

<% }); %>




</div>
<div class="ui raised very padded text container segment">
    <h1>Polarizing</h1>

<div id="chart_div" style="width: 500px; height: 300px;"></div>


</div>


                <h1>Histogram</h1>
                
                
                
                
                
<h4>You loved, critics hated</h4>
<table class="ui celled table" style="width: 40%;">
    <thead>

        <tr>
            <th>Movie</th>
            <th>You Rated</th>
            <th>Metacritic</th>
        </tr>
        <tbody>

    </thead>

    <% ReturnObj.Polarizing["ULOVE-CRITHATE"].forEach(function(element){ %>

        <tr>
            <td>
                <%=element.Title %>
            </td>
            <td>
                <%=element["You rated"] %>
            </td>
            <td>
                <%=element.CritDiff %>
            </td>
        </tr>

        <% }); %>

            </tbody>
</table>

              
                
<h4>You hated, critics loved</h4>
<table class="ui celled table" style="width: 40%;">
    <thead>

        <tr>
            <th>Movie</th>
            <th>You Rated</th>
            <th>Metacritic</th>
        </tr>
        <tbody>

    </thead>

    <% ReturnObj.Polarizing["UHATE-CRITLOVE"].forEach(function(element){ %>

        <tr>
            <td>
                <%=element.Title %>
            </td>
            <td>
                <%=element["You rated"] %>
            </td>
            <td>
                <%=element.CritDiff %>
            </td>
        </tr>

        <% }); %>

            </tbody>
</table>

              
                
<h4>You loved,IMDb hated</h4>
<table class="ui celled table" style="width: 40%;">
    <thead>

        <tr>
            <th>Movie</th>
            <th>You Rated</th>
            <th>Metacritic</th>
        </tr>
        <tbody>

    </thead>

    <% ReturnObj.Polarizing["ULOVE-IMDBHATE"].forEach(function(element){ %>

        <tr>
            <td>
                <%=element.Title %>
            </td>
            <td>
                <%=element["You rated"] %>
            </td>
            <td>
                <%=element.IMDbDiff %>
            </td>
        </tr>

        <% }); %>

            </tbody>
</table>

              
                
<h4>You hated, IMDb loved</h4>
<table class="ui celled table" style="width: 40%;">
    <thead>

        <tr>
            <th>Movie</th>
            <th>You Rated</th>
            <th>Metacritic</th>
        </tr>
        <tbody>

    </thead>

    <% ReturnObj.Polarizing["UHATE-IMDBLOVE"].forEach(function(element){ %>

        <tr>
            <td>
                <%=element.Title %>
            </td>
            <td>
                <%=element["You rated"] %>
            </td>
            <td>
                <%=element.IMDbDiff %>
            </td>
        </tr>

        <% }); %>

            </tbody>
</table>
                
                
                
                
            

        </div>


    </div>
</div>
</div>


<% include partials/footer %>